[auth]
username=user
password=pass

[auth_bugzilla]
username=user
password=pass

[debug]
debug=False

[paths]
# path to pickle file (can be created on the fly)
picklePath=bingle.pickle

[urls]
# note the trailing slash is important
mingleApiBase=https://mingle.corp.wikimedia.org/api/v2/projects/mobile/
mingleUrlBase=https://mingle.corp.wikimedia.org/projects/mobile/

[mingle]
#look out for capitalization!!!
#these are default props for the mobile mingle project
bugCard=bug

# A list of the properties to set on generated Mingle cards
# The list is in the format of:
#   <property name>,<property value>;<property 2 name>,<property 2 value>, etc
properties=status,In analysis;Iteration, (Current iteration)

# If you have a card property to store the bugzilla bug ID, enter the name of the property here - otherwise, leave it blank.
bugIdFieldName=Bug ID
