[auth]
username=user
password=pass

[debug]
debug=False

[paths]
# path to pickle file (can be created on the fly)
picklePath=bingle.pickle

[urls]
# note the trailing slash is important
mingleApiBase=https://mingle.corp.wikimedia.org/api/v2/projects/mobile/
bugzillaFeed=https://bugzilla.wikimedia.org/buglist.cgi?bug_status=NEW&component=MobileFrontend&f1=creation_ts&list_id=195375&o1=greaterthan&product=MediaWiki%20extensions&query_format=advanced&resolution=---&resolution=LATER&resolution=DUPLICATE&title=Bug%20List&ctype=atom

[mingle]
#look out for capitalization!!!
#these are default props for the mobile mingle project
bugCard=Bug
properties='status','In analysis';'Iteration', '(Current iteration)'
# If you have a card property to store the bugzilla bug ID, enter the name of the property here - otherwise, leave it blank.
bugIdFieldName=Bug ID
