[debug]
debug=True

[paths]
picklePath=bugello.pickle

[urls]
; bugzilla Feed URL that relies on a timestamp, but with timestamp query param left out
bugzillaFeed=https://bugzilla.wikimedia.org/buglist.cgi?bug_status=NEW&component=MobileFrontend&f1=creation_ts&list_id=195375&o1=greaterthan&product=MediaWiki%20extensions&query_format=advanced&resolution=---&resolution=LATER&resolution=DUPLICATE&title=Bug%20List&ctype=atom

[trello]
; https://trello.com/docs/gettingstarted/index.html#getting-an-application-key
appKey=
appName=bugello
; eg 'Mobile App'
boardBaseName=Welcome Board
; eg 'Ready for Dev'
targetListName=To Do
; first time you run bugello, you should be given a URL from which to fetch your pin
pin=
